body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    width: fit-content; 
}

.gallery img {
    width: 200px; 
    height: 200px;
}
